@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
}

body {
  font-family: 'Montserrat';
}

.App {
  background: #eee;
  height: 100vh;
}
